body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1122px;
  min-height: 1750px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

.welcome {
  background-image: url("../img/background-photo.jpg");
  background-color: #ffffff;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-color: #746665;
}

.filter,
.welcome {
  background-size: cover;
  background-position: center center;
  }

.infrast {
  color: #ffffff;
  font-size: 14px;
}

.range-tumbler {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.present button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.subject {
  font-size: 16px;
  font-weight: bold;
}

.site-navigation {
   list-style: none;
}

/*.site-navigation li {
   padding: 15px;
}*/

.site-navigation a {
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

.active a {
  color: #766357;
}

.option label {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.style:hover + label{
  color: #81b3d2;
  border-bottom: none;
}

.style:checked + label{
  color: #000000;
  border-bottom: none;
}

input[type="text"]::-moz-placeholder {
    color: #000000;
}

input[type="text"]::-webkit-input-placeholder {
    color: #000000;
}

input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::placeholder {
  color: #000000;
}

.search input[type="text"] {
  background-color: #f2f2f2;
}

.search input[type="text"]:hover {
  background-color: #ebebeb;
}

.search input[type="text"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.main-caption,
.vantage,
.visitsedona,
.found-three,
.relation h2 {
  font-size: 21px;
  font-weight: bold;
}

.main-caption {
  line-height: 26px;

}

.block {
  color: #ffffff;
  background-color: #81b3d2;
}



.feature-item {
  list-style: none;

}

.heading {
  font-size: 30px;
}

.search button  {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search .blue {
  background-color: #81b3d2;
  border: none;
}

.quest:hover {
  background-color: #604e43;
}

.quest:focus {
  background-color: #503e33;
  color: #766860;
  outline: 0;
}

.blue:hover {
  background-color: #669ec0;
}

.blue:focus {
  background-color: #5496bd;
  color: #7aadcb;
  outline: 0;
}

.search input{
   background-color: #f2f2f2;
   border: none;
}

.academy a{
   color: #000000;
   font-size: 14px;
}

.social-button {
   background-color: #81b3d2;
}

.key {
  background-color: #81b3d2
}

.key:hover {
  background-color: #669ec0;
}

.key:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.pin {
  background-color: #766357;
}

.pin:hover {
  background-color: #604e43;
}

.pin:focus {
  background-color: #503e33;
  color: #857871;
}

.relation a {
  color: #ffffff;
}

.places {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
}

.places:hover {
  color:#81b3d2;
}

.places:focus {
  color: #cacaca;
}

.pin {
  background-color: #766357;
}

.hotels span {
  background-color: #f2f2f2;
  color: #666666;
}

.search .minus,
.search .plus {
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.search .minus:hover,
.search .plus:hover {
  color: #000000;
}

.search .minus:focus,
.search .plus:focus {
  color: #81b3d2;
}

.search label {
  color: #000000;
  font-weight: bold;
}

.footer-social li {
   list-style: none;
}

input[type="radio"] {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter input[type="text"]::-moz-placeholder {
    color: #ffffff;
}

.filter input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
}

.filter input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

.filter input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

.filter input[type="text"]::placeholder {
  color: #ffffff;
}

/*стили к сетке*/

.wrapper {
  background-color: #ffffff;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  background-color: #ffffff;       /*#89f3cf;*/
}

.site-navigation li {
  position: relative;
  right: 30px;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: relative;
  top: -16px;
  z-index: 10;

}

.welcome {
  display: flex;
  background-size: cover;
  min-height: 508px;
  position: relative;
  top: -65px;
}

.main-caption,
.cite {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -23px;
}

.cite {
  margin-top: 30px;
  width: 550px;
}

.hotel {
  height: 256px;
  display: flex;
  margin-top: 27px;
}

.block {
  width: 400px;
}

.block h2,
.block p {
  text-align: center;
}

.block h2 {
  margin-top: 48px;
}

.indention {
  margin-top: 20px;
  width: 290px;
  position: relative;
  left: 25px;
}

.pic img{
   width: 800px;
   height: 256px;
   margin
}

.features-list {
  display: flex;
  margin-top: 55px;
  margin-bottom: 70px;
  background-color: #ffffff;
  padding: 0;
}

.feature-item {
  width: 400px;
  height: 255px;
  background-color: #ffffff;   /*#ab3535;*/
}

.feature-item svg {
  position: relative;
  left: 162px;
}

.feature-item p,
.vantage {
   width: 275px;
   text-align: center;
   position: relative;
   left: 65px;
}

.bridge {
   position: relative;
   top: -52px;
}

.interest {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  top: -198px;
  height: 90px;
}

.heading {
  text-align: center;
  position: relative;
  top: 28px;
}

.bottom {
  margin-top: 80px;
  position: relative;
  top: -113px;
}

.interest p {
  width: 440px;
  text-align: center;
  position: relative;
  left: 400px;
  top: 15px;
}

.bottom .vantage {
  width: 130px;
  position: relative;
  top: 10px;
  left: 35%;

}

.bottom p {
  position:relative;
  top: 19px;
}

.map-wrapper img {
  width: 1200px;
  height: 593px;
  position: absolute;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 35px;
  position: relative;
  top: 500px;
}

.footer-social {
  background-color: #81b3d2;
  height: 40px;
  position: relative;
  top: 28px;

}

.academy span {
  position: relative;
  left: 20px;
}

.academy svg {
  position: relative;
  left: 30px;
  top: 15px;
}

.visitsedona {
  position: relative;
  top: 17px;
  padding-bottom: 15px;
}
