body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1122px;
  min-height: 1750px;
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

a {
  text-decoration: none;
}

.welcome {
  background-image: url("../img/background-photo.jpg");
  background-color: #ffffff;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-color: #746665;
}

.filter,
.welcome {
  background-size: cover;
  background-position: center center;
  }

.infrast {
  color: #ffffff;
  font-size: 14px;
}

.range-tumbler {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.present button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.subject {
  font-size: 16px;
  font-weight: bold;
}

.site-navigation {
   list-style: none;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

.active a {
  color: #766357;
}

.option label {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.style:hover + label{
  color: #81b3d2;
  border-bottom: none;
}

.style:checked + label{
  color: #000000;
  border-bottom: none;
}

input[type="text"]::-moz-placeholder {
    color: #000000;
}

input[type="text"]::-webkit-input-placeholder {
    color: #000000;
}

input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::placeholder {
  color: #000000;
}

.search input[type="text"] {
  background-color: #f2f2f2;
}

.search input[type="text"]:hover {
  background-color: #ebebeb;
}

.search input[type="text"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.main-caption,
.vantage,
.visitsedona,
.found-three,
.relation h2 {
  font-size: 21px;
  font-weight: bold;
}

.main-caption {
  line-height: 26px;
}

.block {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list {
  background-color: #eeeeee;
}

.feature-item {
  list-style: none;

}

.heading {
  font-size: 30px;
}

.search button  {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search .blue {
  background-color: #81b3d2;
  border: none;
}

.quest:hover {
  background-color: #604e43;
}

.quest:focus {
  background-color: #503e33;
  color: #766860;
  outline: 0;
}

.blue:hover {
  background-color: #669ec0;
}

.blue:focus {
  background-color: #5496bd;
  color: #7aadcb;
  outline: 0;
}

.search input{
   background-color: #f2f2f2;
   border: none;
}

.academy a{
   color: #000000;
   font-size: 14px;
}

.social-button {
   background-color: #81b3d2;
}

.key {
  background-color: #81b3d2
}

.key:hover {
  background-color: #669ec0;
}

.key:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.pin {
  background-color: #766357;
}

.pin:hover {
  background-color: #604e43;
}

.pin:focus {
  background-color: #503e33;
  color: #857871;
}

.relation a {
  color: #ffffff;
}

.places {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
}

.places:hover {
  color:#81b3d2;
}

.places:focus {
  color: #cacaca;
}

.pin {
  background-color: #766357;
}

.hotels span {
  background-color: #f2f2f2;
  color: #666666;
}

.search .minus,
.search .plus {
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.search .minus:hover,
.search .plus:hover {
  color: #000000;
}

.search .minus:focus,
.search .plus:focus {
  color: #81b3d2;
}

.search label {
  color: #000000;
  font-weight: bold;
}

.footer-social li {
   list-style: none;
}

input[type="radio"] {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter input[type="text"]::-moz-placeholder {
    color: #ffffff;
}

.filter input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
}

.filter input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

.filter input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

.filter input[type="text"]::placeholder {
  color: #ffffff;
}

/*Сетка*/

.main-header {
  background-color: #89f3cf;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}
.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  width: 100%;
  justify-content: space-around;
}

.welcome {
  display: flex;
  
  height: 512px;
  background-size: cover;
  margin-top: -17px;
}
.main-caption,
.cite {
  text-align: center;
}




