body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: 0;
}

.filter,
.welcome {
  background-size: cover;
  background-position: center center;
}

.welcome {
  background-image: url("../img/header-bg.jpg");
  background-color: #b6c7d9;
  margin-bottom: 80px;
  background-position: center -60px;
  position: relative;
}

.welcome:after {
  content: "";
  width: 100%;
  height: 57px;
  position: absolute;
  background: url("../img/header-bg-bottom.png") center 0 no-repeat;
  bottom: 0;
  left: 0;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-color: #746665;
  background-position: center -40px;
  position: relative;
  min-height: 216px;
}

.range-tumbler {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.present button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 8px 34px;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.present button:hover {
  background-color: #ffffff;
  color: #000000;
}

.subject {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 24px;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.active a {
  color: #766357;
}

/*.option label {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.style:hover + label {
  color: #81b3d2;
  border-bottom: none;
}

.style:checked + label {
  color: #000000;
  border-bottom: none;
}*/



.option a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.option a:hover {
  color: #81b3d2;
}

.option a:active{
  color: #000000;
  border-bottom: none;
}

.search input::-moz-placeholder {
  color: #000000;
}

.search input::-webkit-input-placeholder {
  color: #000000;
}

.search input:-ms-input-placeholder {
  color: #000000;
}

.search input::-ms-input-placeholder {
  color: #000000;
}

.search input::placeholder {
  color: #000000;
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.main-caption,
.vantage,
.visitsedona,
.found-three,
.relation h2 {
  font-size: 21px;
  font-weight: bold;
}

.visitsedona {
  color: #000000;
  margin-top: 10px;
}

.main-caption {
  color: #000000;
  line-height: 26px;
}

.quest  {
  padding: 31px 20px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search .blue {
  background-color: #81b3d2;
  border: none;
}

.quest:hover {
  background-color: #604e43;
}

.quest:active {
  background-color: #503e33;
  color: #766860;
  outline: 0;
}

.calendar:hover path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.button-blue:hover {
  background-color: #669ec0;
  color: #88b6d1;
}

.button-blue:active {
  background-color: #5496bd;
  color: #7aadcb;
  outline: 0;
}

.academy a {
  margin-left: 3px;
}

.academy a:hover {
  fill: #81b3d2;
}

.academy a:active {
  fill: #c2c0c1;
}

.key {
  background-color: #81b3d2
}

.key:hover {
  background-color: #669ec0;
}

.key:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.pin {
  background-color: #766357;
  margin-left: 2px;
}

.pin:hover {
  background-color: #604e43;
}

.pin:active {
  background-color: #503e33;
  color: #857871;
}

.relation a {
  color: #ffffff;
}

.relation .places {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.places:hover {
  color:#81b3d2;
}

.places:active {
  color: #cacaca;
}

.hotels span {
  background-color: #f2f2f2;
  color: #666666;
}

.search .minus,
.search .plus {
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
  padding: 7px 14px;
}

.search .minus:hover,
.search .plus:hover {
  color: #000000;
}

.search .minus:active,
.search .plus:active {
  color: #81b3d2;
}

.search label {
  font-weight: bold;
}

a.footer-social li {
  list-style: none;
}

a.academy-link:hover path {
  fill: #81b3d2;
}

.academy-link:active path {
  fill: #c2c0c1;
}

a.indicator:hover path {
  fill: #000000;
}

a.indicator:active path {
  fill: #81b3d2;
}

a.social-button:active path {
  fill: #88b6d1;
}

.found input {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  position: relative;
  min-height: 2762px;
  background-color: #ffffff;
  box-shadow:0 0 15px 5px rgba(225,225,225,1);
  width: 1200px;
  margin: 0 auto;
}

.wrapper-info {
  position: relative;
  background-color: #ffffff;
  box-shadow:0 0 15px 5px rgba(225,225,225,1);
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  min-height: 55px;
  margin: 0;
  padding: 0 72px;
  margin-top: 0;
  list-style: none;
}

.site-navigation li {
  text-align: left;
  width: 240px;
  padding: 13.5px 0;
  line-height: 26px;
}

.index-hotel {
  margin-left: 17px;
}

.site-navigation li:nth-of-type(2) {
 margin-right: 95px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
 text-align: right;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -66.5px;
  z-index: 10;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 508px;
  position: relative;
  margin-bottom: 59px;
}

.main-caption,
.cite {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.cite {
  margin-top: 30px;
  width: 550px;
  line-height: 26px;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
}

.bridge {
  margin-top: 0;
}

.pic {
  display: block;
}

.block {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 45px 43px;
  text-align: center;
}

.block h2 {
  margin: 0;
  padding: 0 50px;
}

.indention {
  margin: 15px 0;
  padding: 0 5px;
}

.indention-number {
  margin-top: 25px;
  margin-bottom: 7px;
}

.features-list {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-left:0;
  background-color: #eeeeee;
  padding-bottom: 4px;
}

.feature-item {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 45px;
  padding-bottom: 65px;
  margin-top: 2px;
  position: relative;
  list-style: none;
}

.feature-item p,
.vantage {
  text-align: center;
  padding: 0 10px;
}

.vantage {
  margin-top: 108px;
  margin-bottom: 10px;
  color: #000000;
}

.feature-item svg {
  position: absolute;
  top: 17.5%;
  left: 41%;
}

.feature-item .souvenirs {
  left: 42.2%;
  top: 17%;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: -2px;
  min-height: 256px;
  margin:0;
  background-color: #eeeeee;
}

.bottom .feature-item {
  padding: 35px 60px;
}

.bottom .vantage {
  margin-top: 11px;
  padding: 0 81px;
}

.bottom-number {
  margin-top: -5px;
  margin-bottom: 5px;
}

.bottom-p {
  margin-top: -15px;
}

.feature-list p {
  margin-left: 62px;
  margin-top: 15px;
}

.interest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 46px;
}

.heading {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interest p {
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
}

.bottom p {
  margin-top: 15px;
}

.bottom .go-to-sedona {
  padding: 0;
}

.canyon {
  margin-left: 6px;
}

.footer-inner {
  height: 125px;
  min-height: 125px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  bottom: 0;
}

.visitsedona,
.footer-social,
.academy {
  width: 33%;
  text-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 3px;
  margin-bottom: 7px;
}

.social-button {
  padding: 15px;
  height: 47px;
  width: 47px;
  margin-left: 5px;
  background-color: #81b3d2;
}

.facebook {
  padding: 12px 18px;
}

.youtube {
  padding: 16px 13px;
}

.academy {
  margin-left: 10px;
}

.website {
  position: relative;
  top: -15px;
  left: -3px;
  color: #000000;
  line-height: 26px;
}

.welcome-container {
  width: 100%;
  padding-top: 78px;
}

.welcome-container img {
  display: block;
  margin: 0px auto;
}

img.welcome-container-image-g {
  margin-top: 9px;
}

img.welcome-container-image-s {
  margin-top: 54px;
}

img.welcome-container-image-c {
  margin-top: 55px;
}

/*POPUP*/

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  width: 569px;
  margin: 0 auto;
}

.search form {
  position: absolute;
  width: 100%;
  top: 86px;
  z-index: 40;
  background-color: #ffffff;
}

.popup-content {
  border: none;
  padding: 41px 0;
  padding-right: 52px;
  margin: 0;
  min-width: auto;
}

.popup-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.popup-content p:nth-of-type(2) {
  margin-top: 27px;
}

.popup-content input {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  padding: 7px 11px;
  padding-left: 11px;
  padding-right: 37px;
  margin-left: 21px;
  background-color: #f2f2f2;
  border: none;
  width: 340px;
  min-height: 40px;
}

.popup-content .arrival-date {
  margin-left: 25px;
}

.calendar {
  position: absolute;
  outline: none;
  right: 5px;
  margin-top: -14px;
  top: 50%;
  border: none;
  background-color: transparent;
}

.popup-label {
  line-height: 26px;
  padding-left: 58px;
  color: #000000;
}

.popup-content svg {
  position: relative;
  z-index: 10;
}

.fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 56px;
}

.plusminus {
  display: flex;
  margin-left: 3px;
}

.fill input {
  width: 41px;
  padding: 7px 3px;
  margin-left: 0;
  text-align: center;
}

.children {
  margin-top: 3px;
  margin-left: 5px;
}

.adult,
.children {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
}

.adult {
  margin-top: 3px;
  margin-right: 48px;
}

.adult label {
  position: relative;
  margin-right: 42px;
  padding: 9px 0;
}

.children label {
  padding-right: 32px;
  margin-top: 11px;
}

.children input {
  padding-right: 3px;
}

.button-blue {
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  margin: 52px auto;
  margin-bottom: 14px;
  padding: 17px 195px;
  margin-left: 58px;
  text-transform: uppercase;
  background-color: #81b3d2;
}

/*info html style*/
.filter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.infrast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 0;
  padding-bottom: 0;
}

.infrast-block {
  display: block;
  padding: 0 62px;
  margin-left: 10px;
  margin-top: -12px;
  width: 20%;
}

.subject-block  {
  padding-bottom: 8px;
}

.custom-checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

.apart {
  margin-top: 4px;
}

.custom-checkbox + label:before {
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") 0 0 no-repeat;
  margin-right: 14px;
}

.custom-checkbox:checked + label:before {
  width: 27px;
  background: url("../img/checkbox-on.svg")  0 0 no-repeat
}

.custom-checkbox:disabled + label:before {
  background: url("../img/checkbox-disabled-off.svg")  0 0 no-repeat;
}

.custom-checkbox:disabled:checked + label:before {
  background: url("../img/checkbox-disabled-on.svg")  0 0 no-repeat;
}

.infrast-block .parking-wifi {
  margin-left: 14px;
}

.wifi {
  margin-top: 2px;
}

.lodging {
  padding-right: 40px;
  margin-left: 15px;
}

.slider {
  margin-left: 20.3%;
  width: 36.7%;
}

.block-of-before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 315px;
  margin-top: -41px;
}

.block-of-before:after {
  content: "";
  position: absolute;
  right: 155px;
  top: 34px;
  height: 22px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.block-of-before label{
  position: absolute;
  color: #ffffff;
  top: 34px;
}

.froms {
  left: 65px;
}

.befores{
  left: 212px;
}

.of-before {
  width: 159px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 12px;
  color: #ffffff;
  line-height: 21px;
  padding: 6px 0;
  padding-left: 84px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.from {
  border-right: none;
}

.before {
  border-left: none;
  padding-left: 76px;
}

.infrast svg {
  position:relative;
  top: 5px;
}

.range {
  position: relative;
  margin-top: 5px;
}

.range-gray {
  width: 100%;
  height: 2px;
  background-color: #918381;
}

.range-c1 {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.tumbler-wrap {
  overflow:hidden;
  width: 21px;
  height: 21px;
}

.range-tumbler {
  position: absolute;
  top: 6%;
  left: 0;
  border: 1px solid gray;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  border: none;
  margin-top: -10px;
  font-size: 0;
  background-color: #ffffff;
  cursor: pointer;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.range-tumbler:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.range-tumbler-min {
  left: 80%;
}

.range .dot {
  display: block;
  position: relative;
  left: 2px;
  z-index: 40;
  background-color: #ababab;
  height: 4px;
  width: 4px;
  border-radius: 100%;
}

.present {
  margin-top: 11px;
  text-align: center;
}

.found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px 0;
}

.option {
  width: 59%;
  padding-left: 73px;
  margin-top: 5px;
}

.option .found-three {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.option span,
.option a {
  font-size: 12px;
}

.option a {
  margin-left: 36px;
  line-height: 18px;
}

.option a:nth-of-type(1) {
  color: #81b3d2;
  border-bottom: none;
}

.option a:nth-of-type(2) {
  margin-left: 28px;
  margin-right: -5px;
}

.sorting {
  margin-left: 41px;
  line-height: 18px;
  color: #000000;
}

.switch {
  width: 5%;
  margin-left: 32%;
  margin-top: 10px;
}

.switch a:nth-of-type(2) {
  margin-left: 8px;
}

.gallery {
  width: 100%;
  margin-top: 5px;
}

.hotels-border {
  border-top: 1px solid #e5e5e5;
}

.hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 70px 27px 73px;
}

.picture img {
  width: 135px;
  -ms-flex-negative: 0;
  flex-shrink:0;
  margin-right: 29px;
  margin-top: 3px;
}

.relation {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hotel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation {
  margin-left: 5px;
}

.relation p {
  margin-top: 5px;
  margin-bottom: 18px;
}

.relation span {
  margin-left: 33px;
  background-color: #ffffff;
}

.relation .motel {
  margin-left: 63px;
}

.relation .apartments {
  margin-left: 15px;
}

.poco-diablo {
  margin-top: -3px;
}

.key,
.pin {
  padding: 4px 17px;
  margin-top: 8px;
  font-weight: bold;
}

.rating {
  width: 150px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.rating .desert {
  margin-left: 23px;
}

.rating .villas {
  margin-left: 45px;
}

.star {
  margin-bottom: 45px;
}

.star svg {
  margin-left: 2px;
  margin-bottom: -3px;
}

.rating span {
  padding: 3px 14px;
}

.footer-index {
  min-height: 593px;
  position: relative;
}

.footer-info .footer-inner {
  border-top: 1px solid #e5e5e5;
}

.footer-info {
  min-height: 122px;
  position: relative;
}

.footer-info .footer-social {
  margin-left: 2px;
  margin-top: 6px;
}

.footer-info .visitsedona {
  margin-top: 15px;
  margin-left: 2px;
}

.footer-info .academy {
  margin-top: 20px;
}

.footer-info .website {
  position: relative;
  top: -16px;
  left: -5px;
}
